// base
* {
  box-sizing: border-box;
  list-style: none;
  // outline: 1px solid red;
}

body {
  font-family: $font-primary,
    $font-secondary,
    "Microsoft JhengHei",
    sans-serif;
  color: $secondary;
}

img {
  display: block;
  object-position: center;
}

a {
  display: block;
}

*:focus {
  outline: 0;
}

.material-icons {
  font-size: $base-font-size*1.25;
  vertical-align: bottom;
}

.page-link {
  font-size: $base-font-size*1.25;
  line-height: 1.5;
  font-weight: 400;


  &-active {
    color: $primary-lighter !important;
    text-decoration: underline;
  }

}

.input {
  &-info-lighter {
    border: 1px solid $info-lighter;
    border-radius: 4px;
  }
}

.pointer {
  cursor: pointer;
}