// card
.info-card {
  padding-right: $spacer*24 !important;
  padding-left: $spacer*24 !important;

  @include media-breakpoint-down(lg) {
    padding-right: $spacer*12 !important;
    padding-left: $spacer*12 !important;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.card {
  &-title {
    font-size: $base-font-size*2;
    line-height: 1.5;
    font-weight: 700;
  }

  &-subtitle {
    font-size: $base-font-size*1.5;
    line-height: 1.5;
    font-weight: 600;
  }

  &-text {
    font-size: $base-font-size*1.25;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: $spacer*4;
  }

  &-p {
    font-size: $base-font-size;
    line-height: 1.5;
    font-weight: 300;
  }

  &-link {
    display: inline;
    font-size: $base-font-size;
    line-height: 1.5;
    font-weight: 600;
    color: $primary-lighter;
    border-bottom: 2px solid transparent;
    transition: .5s;

    &:hover,
    &:focus {
      border-bottom: 2px solid $primary-lighter;
    }
  }

  .material-icons {
    cursor: pointer;
    transition: .5s;

    &:hover {
      color: $primary-lighter !important;
    }
  }
}

.product {
  &-card {
    transition: .5s;

    &:hover {
      background-color: $light;
      box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.3);
      transform: translateY(-$spacer*2);
    }
  }
}